*.pdb
*.exe
OkuMath/OkuMath/bin/
OkuMath/OkuMath/obj/
OkuMath/OkuMathTests/bin/
OkuMath/OkuMathTests/obj/
OkuEngine/OkuBase/bin/
OkuEngine/OkuBase/obj/
OkuEngine/OkuBaseTest/bin/
OkuEngine/OkuBaseTest/obj/
OkuEngine/OkuDrivers/bin/
OkuEngine/OkuDrivers/obj/
OkuEngine/OkuEngine/bin/
OkuEngine/OkuEngine/obj/
InitGLWindow/InitGLWindow/bin/
InitGLWindow/InitGLWindow/obj/